.dashboard{
  width: 100%;
  height: 100%;
  background-color: white;
  display: grid;
  grid-template-rows: 60px auto;
  grid-template-columns: 200px auto;
  gap: 2px;
}
.dashboard .header{
  grid-column: 1/span 2;
  border-bottom: 2px solid black;
  
  
}
.dashboard .menu{
  border-right: 1px solid black;
}
.dashboard .outlet{
  background:  #f4f2f6;
}
.header .logo{
  width: 40px;
  position: relative;
  top: 8px;
  float: left;
  margin-left: 12px;
}
.header .logotext{
  position: relative;
  top: 8px;
  margin-left: 15px;
  font-size: 20pt;
  font-weight: bold;
  float: left;
}
.header .logotext span{
  color:rgb(13, 120,130);
}
.header .logouticon{
  width: 40px;
  position: relative;
  top: 10px;
  float:right;
  margin-right: 12px;
  cursor: pointer;
}

.header .fullnametext{
  position: relative;
  top: 20px;
  margin-right: 15px;
  font-size: 12pt;
  font-weight: bold;
  float: right;
  cursor: pointer;

}
.header .logouticon:hover{
  opacity: 0.65;
}

