.menubar{
    width:100%;
    height:100%;
    background-color: white;
    background-color: #2c3e50;
}
.menubar .menuheader{
       width: 100%;
       font-weight: bold;
       font-size: 12pt;
       line-height: 36px;
       background: whitesmoke;
       float:left;
   
}
.menubar .menuheader img 
{
       width:20px;
       margin: 8px;
       float:left;
}
   
.menubar .menuitems
{
    margin: 2px;
    float: left;
    width: calc(100% - 4px);
    height: calc(100% - 40px);
    color: black;
}
.menubar .menuitems ul
{
    padding: 0px;
    margin: 0px;
    width: 100%;
    list-style-type: none;
}
.menubar .menuitems ul li
{
    width: 100%;
    margin-top: 4px;
    line-height: 36px;
    background-color: whitesmoke;
    border-radius: 5px;

}

.menuitems li img {
    width: 20px;
    height: 20px;
    margin: 6px;
    float: left;
    
}
.menubar .menuitems ul li{
    cursor: pointer;
    
}


